@import "../../../assets/style/variables.scss";

.stages {
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: $green;
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
  }

  position: relative;
  margin-top: -75px;
  z-index: 2;
  background: $black;
  color: $white;
  padding-bottom: 100px;
  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    &__inner {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;
    }
    &:nth-child(2) {
      margin: 50px 0;
    }
    &:last-child {
      justify-content: flex-end;
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 450px;
      flex-shrink: 0;
      margin-right: 90px;
      &__title {
        text-align: right;
        font-weight: 500;
      }
      &__text {
        font-weight: 300;
        line-height: 1.6rem;
      }
    }
  }
  &__column {
    position: relative;
    z-index: 4;
    transition: 0.4s;
    transform: translateY(50px);
    opacity: 0;
    transition-delay: 0.1s;
    &:hover {
      padding-left: 34px;
    }
    &:not(:last-child) {
      border-top-left-radius: var(--borderRadius);
    }
    &__title {
      font-size: 1.2rem;
      color: $black;
      margin: 20px 0 10px;
    }
    &__text {
      font-weight: 300;
    }
    &__button {
      width: 180px;
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 50%;
      box-shadow: 0 0 0 3px $white;
      text-align: center;
      transition: 0.3s;
      &:hover {
        transform: translateY(-5px) rotate(5deg);
        box-shadow: 0 0 0 1px $white, 0 0 0 4px $black, 0 0 0 7px $white;
      }
      &__text {
        text-align: right;
      }
      &__container {
        max-width: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
      }
    }
    max-width: 300px;
    min-height: 360px;
    width: 100%;
    border-bottom-right-radius: var(--borderRadius);
    box-shadow: 0 0 0 2px $black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: $green;
    color: $black;
    &__icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
      &__container {
        width: 60px;
        height: 60px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .stages {
    &__row {
      &:nth-child(2) {
        flex-direction: column;
      }
      &__info {
        &__title {
          text-align: left;
        }
      }
    }
    &__column {
      &__button {
        &__container {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .stages {
    padding-bottom: 60px;
    &__column {
      width: 100%;
      min-height: 280px;
      padding: 20px;
      gap: 5px;
      font-size: 0.9rem;
      &:hover {
        padding-left: 24px;
      }
      &:nth-child(2) {
        border-top-left-radius: 0;
      }
      &__title {
        margin: 10px 0 5px;
      }
      &__icon {
        &__container {
          width: 35px;
          height: 35px;
        }
      }
    }
    &__row {
      &__info {
        width: unset;
      }
      &__inner {
        gap: 20px;
      }
      gap: 20px;
      align-items: flex-start;
      &:nth-child(2) {
        margin: 20px 0;
      }
    }
  }
}
