@import "../../assets/style/variables.scss";

.contact {
  background: $black;
  color: $white;
  padding-top: 150px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: var(--borderRadius);
    background: $white;
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
  }
  &__title {
    text-align: right;
  }
  &__upper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 90px;
      &__logo {
        font-size: 40px;
      }
      &__text {
        span {
          color: $green;
        }
      }
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
    margin-top: 40px;
    &__textarea {
      &__container {
        position: relative;
        width: 100%;
        height: 150px;
      }
      resize: none;
      box-shadow: inset 0 0 0 3px $white;
      // border: 3px solid $white;
      color: $white;
      background: transparent;
      border-radius: 30px;
      padding: 15px 20px;
      width: 100%;
      height: 100%;
    }
    &__inputs {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 40%;
      flex-shrink: 0;
    }
    &__input {
      width: 100%;
      &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      &__title {
        padding-left: 10px;
        font-size: 1.1rem;
      }
      box-shadow: inset 0 0 0 3px $white;
      // border: 3px solid $white;
      color: $white;
      background: transparent;
      border-radius: 30px;
      padding: 15px 20px;
      &__title {
        color: #b6b6b6;
      }
    }
  }
  &__button {
    position: relative;
    &__status {
      position: absolute;
      left: 0;
      bottom: -20px;
      width: 100%;
      text-align: center;
    }

    &__container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 40px;
      padding-bottom: 40px;
      padding-right: 30px;
    }
    text-align: center;
    width: 200px;
    padding: 15px 20px;
    font-size: 1rem;
    color: $white;
    background: $green;
    border-radius: 24px;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 0 0 2px $white;
      transform: rotate(2deg);
    }
  }
}

@media screen and(max-width: 1000px) {
  .contact {
    &__upper {
      flex-direction: column;
      &__info {
        order: 2;
        width: 100%;
        margin-top: 20px;
        &__logo {
          display: none;
        }
      }
    }
  }
}

@media screen and(max-width: 800px) {
  .contact {
    padding-top: 80px;
    &__button {
      &__container {
        padding-right: 0;
      }
    }
    &__upper {
      &__info {
        margin-top: 30px;
      }
    }
    &__row {
      margin-top: 20px;
      flex-direction: column;
      &__inputs {
        width: 100%;
      }
    }
  }
}
